<section id="login" class="pt-5 LoginSection w-100 vh-100 d-flex align-items-center">    
        <div class="container  ">
            <div class="row  ">
                <div class="col-md-5 bg-light  rounded-4 h-100 ">
                    <div class="   justify-content-center align-items-center ">
    
                        <div class=" mx-auto my-3  border-primary p-2   ">
                            <div class="  my-4"> 
                                    <h3 class=" text-center  text-primary"> WELCOME!    </h3>
                                    <p class="text-center text-muted">Please Enter You Email & Pass To Login In Curefusion </p>
                             </div>
                            
                            <div class=" m-5 my-4 position-relative text-primary ">
                                <label for="" class="translate-middle-y  "><i class="fa-solid fa-envelope"></i> Email  </label>
                                <input type="email" placeholder="EX:Muhamed@gmail.com" class="form-control border-1 bg-light border-dark rounded-2 p-1">
                            </div>
                            <div class=" m-5 my-4 position-relative  text-primary ">
                                <label for="" class="translate-middle-y  "><i class="fa-solid fa-lock"></i> Password  </label>
                                <input type="password"  class="form-control border-1 bg-light border-dark rounded-2 p-1">
                            </div>
                         
                           <div class="text-center w-100">
                                <button routerLink="/home" class="btn btn-primary  w-25  ">Login</button>
                            <br>
                            <a href="">Forgot Your Password ?</a>
                   
                           </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </section>
 