.bg-body-tertiary {
   background-color: #272727 !important;
}
.colors a{
    color: white;
}
.loginbutton{
    height: 30px;
}
.icon1{
    color: #03b57b;
    font-size: larger;
}
.wordHover{
    color: #03b57b;
}


.glowing-text {
     
    color: #fff;
    text-align: center;
    
    animation: glow 1.5s infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #03b57b, 0 0 20px #03b57b, 0 0 25px #03b57b, 0 0 30px #03b57b, 0 0 35px #03b57b;
    }
    to {
      text-shadow: 0 0 10px #ffffff, 0 0 20px #03b57b, 0 0 30px #03b57b, 0 0 40px #03b57b, 0 0 50px #03b57b, 0 0 60px #03b57b, 0 0 70px #03b57b;
    }
  }



  .custom-btn {
     
    color: #03b57b;             
    border: 2px solid #03b57b;  
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    animation: glowing 1.5s infinite alternate;  
  }
  
  .custom-btn:hover {
  background-color:#03b57b ;
    color: black !important;             
    animation: glowing 0.4s infinite alternate;  
    transition: all 2s;
  }
  @keyframes glowing {
    0% {
      box-shadow: 10px 0 20px rgba(3, 181, 123,0.5);
    }
    50% {
      box-shadow: -10px 0 20px rgba(3, 181, 123,1);
    }
    100% {
      box-shadow: 10px 0 20px rgba(3, 181, 123,0.5);
    }
  }




