<nav class="navbar navbar-expand-lg bg-body-tertiary  position-fixed   z-3 w-100"   >
    <div class="container">
      <div class="d-flex align-items-center  ">
        <a class="navbar-brand " d  ><i class="fa-solid   fa-heart-pulse icon1" ></i></a>
        <a class="nav-link "routerLink="home"> <h5 class="text-white mt-1  ">CureFusion</h5></a>
      </div>
      
      <button class="navbar-toggler mb-2 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-between " id="navbarSupportedContent">
        <form class="d-flex align-items-center ms-2 bg-white rounded-5 " role="search">
          <i class="fa-solid fa-magnifying-glass position-relative ms-2 text-black"></i>
          <input class="form-control me-2 shadow-none position-relative border-0  " type="search" placeholder="Search For Anything" aria-label="Search" >  
        </form>
        <div class="navbar-nav d-flex colors align-items-center">
          <a class="nav-link rounded-5   " routerLink="home" routerLinkActive="bg-white text-black ">Home</a>
          <a class="nav-link rounded-5 " routerLink="medicines" routerLinkActive="bg-white text-black  ">Medicines</a>
          <a class="nav-link rounded-5 " routerLink="careers" routerLinkActive="bg-white text-black  ">Carerrs</a>
          <button class="btn btn-primary loginbutton border-0  text-black d-flex align-items-center ">Login/Register</button>
        </div>
     
      </div>
    </div>
  </nav>