<section class=" pt-5   bg-primary ">
        <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 bg-white pb-2">
                <div class=" mx-auto border border-primary p-2 border-5 ">
                    <div class="  my-4"> 
                        <div class="d-flex align-items-center gap-1">
                            <h3 class="  text-start text-primary"> Sign Up  </h3>
                        </div>
                        <p class="text-center text-muted">Please enter your details</p>
                    </div>
                    
                    <div class=" m-5 my-4 position-relative text-primary ">
                        <label for="" class="translate-middle-y  "><i class="fa-solid fa-user"></i> UserName  </label>
                        <input type="text"  class="form-control border-1 bg-light border-dark rounded-2 p-1" >
                    </div>
                    <div class=" m-5 my-4 position-relative  text-primary ">
                        <label for="" class="translate-middle-y  "><i class="fa-solid fa-envelope"></i> Email  </label>
                        <input type="email"  class="form-control border-1 bg-light border-dark rounded-2 p-1" >
                    </div>
                    <div class=" m-5 my-4 position-relative text-primary ">
                        <label for="" class="translate-middle-y  "><i class="fa-solid fa-lock"></i> Password  </label>
                        <input type="password"  class="form-control border-1 bg-light border-dark rounded-2 p-1" >
                    </div>
                    <div class=" m-5 my-4 position-relative text-primary ">
                        <label for="" class="translate-middle-y  "><i class="fa-solid fa-lock"></i> Confirm Password  </label>
                        <input type="password"  class="form-control border-1 bg-light border-dark rounded-2 p-1" >
                    </div>
                   <div class="text-center w-100">
                    
                    
                    <button class="btn btn-primary w-75  ">Confirm</button>
          
                    <p class="text-center mb-0">Already have an account? </p>
          
                    <button  [routerLink]="'/login'"  class="btn btn-light w-75 my-2 border-primary  text-primary">Login </button>
                   </div>
                </div>
            </div>
        </div>
       </div> 
      
    
    </section>